# Quick Guide on cleaning a dataset with Pandas 
This script will walk you through some quick steps and guide in clean a raw data you intend to use for analysis or machine learning model building.

## Step 1 : Import the packages needed
The first step will be for you to import the packages needed for the cleaning operation.

In [1]:
import pandas as pd
import pickle as pk

## Step 2 : Read the Raw file into your script
Load all the files you need to clean into you notebook

In [4]:
# for this guide we will be using a food balance dataset. You can try out with another dataset.
data  = pd.read_csv("Food Balance data.csv")

In [5]:
# view imported data
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2010,Y2010F,Y2011,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,35977.00,*,36661.00,...,39728.00,*,40551.00,*,41389.00,*,42228.00,*,43053.00,*
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,S,0.00,...,0.00,S,0.00,S,0.00,S,0.00,S,0.00,S
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3250.00,Fc,3350.00,...,3417.00,Fc,3443.00,Fc,3383.00,Fc,3382.00,Fc,3493.00,Fc
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,87.27,Fc,88.77,...,91.24,Fc,90.14,Fc,88.64,Fc,90.29,Fc,90.84,Fc
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,84.53,Fc,93.82,...,93.83,Fc,101.03,Fc,97.12,Fc,87.27,Fc,98.14,Fc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91441,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,27.00,Im,27.00,...,29.00,Im,30.00,Im,15.00,Im,16.00,Im,31.00,Im
91442,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,2.11,Fc,2.11,...,2.11,Fc,2.11,Fc,1.02,Fc,1.08,Fc,2.11,Fc
91443,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,Fc,2.00,...,2.00,Fc,2.00,Fc,1.00,Fc,1.00,Fc,2.00,Fc
91444,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.07,Fc,0.07,...,0.07,Fc,0.07,Fc,0.03,Fc,0.04,Fc,0.07,Fc
91445,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,Fc,0.03,...,0.03,Fc,0.03,Fc,0.01,Fc,0.01,Fc,0.03,Fc

In [6]:
# check the size of the data set.
# count the number of records in the data
data.size

2469042

In [7]:
# check the dimension of the dataset
data.shape

(91446, 27)

In [9]:
# load the data into a dataframe
df = pd.DataFrame(data)

In [10]:
# view the data in dataframe
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2010,Y2010F,Y2011,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,35977.00,*,36661.00,...,39728.00,*,40551.00,*,41389.00,*,42228.00,*,43053.00,*
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,S,0.00,...,0.00,S,0.00,S,0.00,S,0.00,S,0.00,S
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3250.00,Fc,3350.00,...,3417.00,Fc,3443.00,Fc,3383.00,Fc,3382.00,Fc,3493.00,Fc
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,87.27,Fc,88.77,...,91.24,Fc,90.14,Fc,88.64,Fc,90.29,Fc,90.84,Fc
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,84.53,Fc,93.82,...,93.83,Fc,101.03,Fc,97.12,Fc,87.27,Fc,98.14,Fc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91441,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,27.00,Im,27.00,...,29.00,Im,30.00,Im,15.00,Im,16.00,Im,31.00,Im
91442,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,2.11,Fc,2.11,...,2.11,Fc,2.11,Fc,1.02,Fc,1.08,Fc,2.11,Fc
91443,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,Fc,2.00,...,2.00,Fc,2.00,Fc,1.00,Fc,1.00,Fc,2.00,Fc
91444,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.07,Fc,0.07,...,0.07,Fc,0.07,Fc,0.03,Fc,0.04,Fc,0.07,Fc
91445,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,Fc,0.03,...,0.03,Fc,0.03,Fc,0.01,Fc,0.01,Fc,0.03,Fc

## Step 3 : Dectect missing values
Detect missing values and count missing values by columns

In [11]:
# check the data type of each column in your dataset which will guide on how each column is cleaned.
df.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2010           float64
Y2010F           object
Y2011           float64
Y2011F           object
Y2012           float64
Y2012F           object
Y2013           float64
Y2013F           object
Y2014           float64
Y2014F           object
Y2015           float64
Y2015F           object
Y2016           float64
Y2016F           object
Y2017           float64
Y2017F           object
Y2018           float64
Y2018F           object
Y2019           float64
Y2019F           object
dtype: object

In [20]:
# check for NaN and Detect missing values in the dataset
# count the number of missing values in the dataset by columns
df.isnull().sum()

Area Code           0
Area                0
Item Code           0
Item                0
Element Code        0
Element             0
Unit                0
Y2010           29045
Y2010F          25379
Y2011           29031
Y2011F          25367
Y2012           27723
Y2012F          23998
Y2013           27927
Y2013F          26741
Y2014           27646
Y2014F          25893
Y2015           27562
Y2015F          25799
Y2016           27646
Y2016F          25911
Y2017           27451
Y2017F          26582
Y2018           27302
Y2018F          27086
Y2019           27374
Y2019F          27366
dtype: int64

In [21]:
# count of datasets with values by columns
df.count()

Area Code       91446
Area            91446
Item Code       91446
Item            91446
Element Code    91446
Element         91446
Unit            91446
Y2010           62401
Y2010F          66067
Y2011           62415
Y2011F          66079
Y2012           63723
Y2012F          67448
Y2013           63519
Y2013F          64705
Y2014           63800
Y2014F          65553
Y2015           63884
Y2015F          65647
Y2016           63800
Y2016F          65535
Y2017           63995
Y2017F          64864
Y2018           64144
Y2018F          64360
Y2019           64072
Y2019F          64080
dtype: int64

## Step 4 : Drop or Fill missing values
At this point, based on your understanding of what you intend to use your dataset for you can proceed to either drop of fill the missing vaules in the dataset.

### For this guide, we will do the follwoing:
- Drop all rows with any missing vaules, load the result to a new dataframe (cleaned_data1) and serialize the data.
- Drop all rows with all it's columns having missing values and load the result to a new dataframe (cleaned_data2) and serialize the data.
- Drop all rows with it's columns from Y2010 to Y2019 having missing values (cleaned_data2) and serialize the data.

In [23]:
# get a copy of the dataset.
df_temp = df.copy()

In [24]:
df_temp

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2010,Y2010F,Y2011,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,35977.00,*,36661.00,...,39728.00,*,40551.00,*,41389.00,*,42228.00,*,43053.00,*
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,S,0.00,...,0.00,S,0.00,S,0.00,S,0.00,S,0.00,S
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3250.00,Fc,3350.00,...,3417.00,Fc,3443.00,Fc,3383.00,Fc,3382.00,Fc,3493.00,Fc
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,87.27,Fc,88.77,...,91.24,Fc,90.14,Fc,88.64,Fc,90.29,Fc,90.84,Fc
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,84.53,Fc,93.82,...,93.83,Fc,101.03,Fc,97.12,Fc,87.27,Fc,98.14,Fc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91441,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,27.00,Im,27.00,...,29.00,Im,30.00,Im,15.00,Im,16.00,Im,31.00,Im
91442,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,2.11,Fc,2.11,...,2.11,Fc,2.11,Fc,1.02,Fc,1.08,Fc,2.11,Fc
91443,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,Fc,2.00,...,2.00,Fc,2.00,Fc,1.00,Fc,1.00,Fc,2.00,Fc
91444,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.07,Fc,0.07,...,0.07,Fc,0.07,Fc,0.03,Fc,0.04,Fc,0.07,Fc
91445,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,Fc,0.03,...,0.03,Fc,0.03,Fc,0.01,Fc,0.01,Fc,0.03,Fc

In [25]:
## Drop all rows with any missing vaules and load the result to a new dataframe (cleaned_data1).
cleaned_data1 = df_temp.dropna(axis = "index", how = "any")

In [26]:
## check to cofirm no missing values in the dataset
cleaned_data1.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2010           0
Y2010F          0
Y2011           0
Y2011F          0
Y2012           0
Y2012F          0
Y2013           0
Y2013F          0
Y2014           0
Y2014F          0
Y2015           0
Y2015F          0
Y2016           0
Y2016F          0
Y2017           0
Y2017F          0
Y2018           0
Y2018F          0
Y2019           0
Y2019F          0
dtype: int64

In [30]:
## pickle the cleaned data to serialize it to a file.
with open("clean data 1.pkl", "wb") as file:
    pk.dump(cleaned_data1, file)

In [31]:
cleaned_data1

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2010,Y2010F,Y2011,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,35977.00,*,36661.00,...,39728.00,*,40551.00,*,41389.00,*,42228.00,*,43053.00,*
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,S,0.00,...,0.00,S,0.00,S,0.00,S,0.00,S,0.00,S
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3250.00,Fc,3350.00,...,3417.00,Fc,3443.00,Fc,3383.00,Fc,3382.00,Fc,3493.00,Fc
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,87.27,Fc,88.77,...,91.24,Fc,90.14,Fc,88.64,Fc,90.29,Fc,90.84,Fc
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,84.53,Fc,93.82,...,93.83,Fc,101.03,Fc,97.12,Fc,87.27,Fc,98.14,Fc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91441,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,27.00,Im,27.00,...,29.00,Im,30.00,Im,15.00,Im,16.00,Im,31.00,Im
91442,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,2.11,Fc,2.11,...,2.11,Fc,2.11,Fc,1.02,Fc,1.08,Fc,2.11,Fc
91443,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,Fc,2.00,...,2.00,Fc,2.00,Fc,1.00,Fc,1.00,Fc,2.00,Fc
91444,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.07,Fc,0.07,...,0.07,Fc,0.07,Fc,0.03,Fc,0.04,Fc,0.07,Fc
91445,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,Fc,0.03,...,0.03,Fc,0.03,Fc,0.01,Fc,0.01,Fc,0.03,Fc

In [34]:
## Drop all rows with all it's columns having missing values and load the result to a new dataframe (cleaned_data2) and serialize the data.
cleaned_data2 = df_temp.dropna(axis = "index", how = "all")

In [35]:
# view the data 2
cleaned_data2

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2010,Y2010F,Y2011,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,35977.00,*,36661.00,...,39728.00,*,40551.00,*,41389.00,*,42228.00,*,43053.00,*
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,S,0.00,...,0.00,S,0.00,S,0.00,S,0.00,S,0.00,S
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3250.00,Fc,3350.00,...,3417.00,Fc,3443.00,Fc,3383.00,Fc,3382.00,Fc,3493.00,Fc
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,87.27,Fc,88.77,...,91.24,Fc,90.14,Fc,88.64,Fc,90.29,Fc,90.84,Fc
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,84.53,Fc,93.82,...,93.83,Fc,101.03,Fc,97.12,Fc,87.27,Fc,98.14,Fc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91441,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,27.00,Im,27.00,...,29.00,Im,30.00,Im,15.00,Im,16.00,Im,31.00,Im
91442,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,2.11,Fc,2.11,...,2.11,Fc,2.11,Fc,1.02,Fc,1.08,Fc,2.11,Fc
91443,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,Fc,2.00,...,2.00,Fc,2.00,Fc,1.00,Fc,1.00,Fc,2.00,Fc
91444,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.07,Fc,0.07,...,0.07,Fc,0.07,Fc,0.03,Fc,0.04,Fc,0.07,Fc
91445,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,Fc,0.03,...,0.03,Fc,0.03,Fc,0.01,Fc,0.01,Fc,0.03,Fc

In [36]:
## Drop all rows with it's columns from Y2010 to Y2019 having missing values (cleaned_data2) and serialize the data.

cleaned_data3 = df_temp.dropna(subset = ["Y2010","Y2010F","Y2011","Y2011F","Y2012","Y2012F","Y2013","Y2013F","Y2014","Y2014F","Y2015","Y2015F","Y2016","Y2016F","Y2017","Y2017F","Y2018","Y2018F","Y2019","Y2019F"])

In [37]:
# view data cleaned
cleaned_data3

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2010,Y2010F,Y2011,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,35977.00,*,36661.00,...,39728.00,*,40551.00,*,41389.00,*,42228.00,*,43053.00,*
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,S,0.00,...,0.00,S,0.00,S,0.00,S,0.00,S,0.00,S
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3250.00,Fc,3350.00,...,3417.00,Fc,3443.00,Fc,3383.00,Fc,3382.00,Fc,3493.00,Fc
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,87.27,Fc,88.77,...,91.24,Fc,90.14,Fc,88.64,Fc,90.29,Fc,90.84,Fc
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,84.53,Fc,93.82,...,93.83,Fc,101.03,Fc,97.12,Fc,87.27,Fc,98.14,Fc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91441,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,27.00,Im,27.00,...,29.00,Im,30.00,Im,15.00,Im,16.00,Im,31.00,Im
91442,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,2.11,Fc,2.11,...,2.11,Fc,2.11,Fc,1.02,Fc,1.08,Fc,2.11,Fc
91443,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,Fc,2.00,...,2.00,Fc,2.00,Fc,1.00,Fc,1.00,Fc,2.00,Fc
91444,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.07,Fc,0.07,...,0.07,Fc,0.07,Fc,0.03,Fc,0.04,Fc,0.07,Fc
91445,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,Fc,0.03,...,0.03,Fc,0.03,Fc,0.01,Fc,0.01,Fc,0.03,Fc